[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
boto3 = "*"

[dev-packages]
behave = "*"
coverage = "*"
pre-commit = "*"
black = "*"
twine = "*"
keyring = "*"
moto = "*"